body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.wrapper {
	display: flex;
	height: 100vh;
	width: 100vw;
	flex-flow: column;
}

.vertical-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 1em;
}

#title {
	font-size: x-large;
}

.toolbar {
	flex-grow: 1;
}

.title {
	text-align: center;
}

.head {
	display: flex;
	flex-flow: row;
	height: 4em;
	background-color: whitesmoke;
	border-bottom: 1px solid black;
	z-index: 999999;
}

.console {
	display: flex;
	height: 20em;
	background-color: whitesmoke;
	border-top: 1px solid black;
	z-index: 999999;
	flex-flow: column;
}

.console-fold {
	width: 100%;
	height: 0.5em;
	background: whitesmoke;
	border-bottom: 1px solid black;
	z-index: 999998;
}

.console-expand {
	width: 100%;
	height: 0.5em;
	background: whitesmoke;
	border-top: 1px solid black;
	z-index: 999998;
}

.clickable:hover {
	background-color: gainsboro;
}

.clickable:active {
	background-color: darkgray;
}

.board {
	width: 100vw;
	flex-grow: 1;
	z-index: 1;
}

.block {
	display: flex;
	flex-flow: row;
	align-items: center;
	border: 1px solid black;
	box-shadow: 3px 3px #0007;
	cursor: grab;
	z-index: 1;
	min-width: 100px;
	min-height: 70px;
	background-color: white;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.block-wrapper {
	display: flex;
	flex-flow: column;
	align-items: center;
	position: absolute;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.block > span {
	flex-grow: 1;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.block:focus {
	outline: 1px solid orange;
}

.console-content {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.console-output {
	margin: 0.5em;
}

.console-output > pre {
	margin: 0;
	font-family: 'JetBrains Mono', 'Consolas', 'Courier New', Courier, monospace;
	font-size: 16px;
}

.arrange {
	display: flex;
	flex-flow: row;
}

.nodule-handle {
	display: flex;
	flex-flow: column;
	height: 100%;
	margin: 0 0.2em;
}

.nodule-handle-content {
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	margin: 0.5em 0;
}

.nodule-label {
	display: block;
	font-family: 'JetBrains Mono', 'Consolas', 'Courier New', Courier, monospace;
	margin: 0.5em 0;
}

.nodule-label:hover {
	background-color: yellow;
}

.nodule-content {
	display: flex;
	flex-grow: 1;
	flex-flow: column;
	align-items: center;
	margin: 0 1em;
}

.nodule-parameters {
	font-family: 'JetBrains Mono', 'Consolas', 'Courier New', Courier, monospace;
	font-size: 12px;
}

.nodule-id {
	font-family: 'JetBrains Mono', 'Consolas', 'Courier New', Courier, monospace;
	font-size: 14px;
	margin-top: 0.2em;
}

.line-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	z-index: 2;
	pointer-events: none;
}

.connection {
	pointer-events: all;
}

.context-menu {
	position: absolute;
	max-width: 30em;
	background-color: #eee;
	border: 1px solid silver;
	box-shadow: 4px 4px #8888;
	z-index: 1000000;
	display: none;
}

.context-menu > hr {
	width: 100%;
	margin: 1px 0;
	padding: 0;
}

.context-menu-item {
	display: flex;
	flex-flow: column;
	padding: 0 0.5em;
	cursor: default;
}

.context-menu-item > span {
	padding: 0.3em 0;
}

.context-menu-item:hover {
	background-color: lightgray;
}

.dialog {
	position: absolute;
	display: none; /* shall be flex when displaying */
	flex-flow: column;
	align-items: stretch;
	left: 2em;
	top: 2em;
	background-color: #eeeeee;
	border: 1px solid black;
	z-index: 1000001;
}

.dialog-bar {
	display: flex;
	flex-flow: row;
	align-items: center;
	border-bottom: 1px solid black;
}

.dialog-content {
	display: flex;
	flex-flow: column;
	align-items: stretch;
	padding: 0.5em 1em;
}

.dialog-title {
	margin: 0.5em 1em;
}

.dialog-action {
	display: flex;
	flex-flow: row-reverse;
	align-items: center;
	border-top: 1px solid black;
}

.dialog-table > thead {
	border-bottom: 1px solid gray;
}

.dialog-table > thead > tr > td {
	padding: 0.2em 1em;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}

.dialog-table > tbody > tr:hover {
	background-color: #ddd;
}

.nodule-wrapper {
	margin: 0.2em 0;
	cursor: default;
}

.nodule-wrapper:hover {
	background-color: #ddd;
}

.nodule-list-label-wrapper {
	display: flex;
	flex-flow: row;
	align-items: center;
}

.nodule-list-label {
	color: #777;
	font-size: 60%;
	font-family: 'JetBrains Mono', 'Consolas', 'Courier New', Courier, monospace;
	margin: 0.5em 0;
}

.nodule-list-label-splitter {
	flex-grow: 1;
	margin-left: 0.5em;
}

.spacer {
	width: 1em;
}

.menu {
	display: none;
	position: absolute;
	z-index: 1000000;
	background-color: white;
	border: 1px solid gray;
	tab-index: -1;
}

.menu-items {
	margin: 0;
	padding: 0;
}

.menu-item {
	list-style: none;
	margin-left: 0;
	cursor: default;
	padding: 0.2em 0.5em;
}

.menu-item:hover {
	background-color: #eee;
}

.menu-item-splitter {
	list-style: none;
	height: 1px;
	background-color: gray;
	pointer-events: none;
}
